#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,h2{
  color: rgb(134, 161, 185);
}

.photo {
  width: 150px;
  height: auto;
}


section {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0 32px 0;    /* moins d’espace en bas (avant : 80px) */
  min-height: 280px;         /* optionnel, réduit la hauteur minimale */
} 







@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}